@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}
html,
body {
  min-height: 100%;
}
body {
  background: radial-gradient(
    at top left,
    rgb(147, 147, 147) 0%,
    rgb(65, 65, 65) 100%
  );
  background-repeat: no-repeat;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
  height: 48px;
}
nav .links {
  display: inline-block;
  text-align: right;
  /* padding-right: 10px; */
}
nav .links Link {
  padding-right: 10px;
}

@media (max-width: 767px) {
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
    height: 48px;
  }
  nav .links {
    display: inline-flex;
    text-align: right;
    margin-top: 8px;
  }
  nav .link {
    padding-right: 0px;
  }

  nav .first {
    display: none;
  }

  nav .title {
    padding-left: 0;
    font-size: 1.2rem;
  }
}
nav a {
  display: inline-block;
  /* margin-left: 20px; */
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  font-size: 1.3em;
  vertical-align: middle;
  padding: 10px;
  /* padding-right: 0px; */
}
nav a:hover {
  border-color: white;
}

footer p {
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}

nav Link h1 {
  display: inline-block;
  background-color: #558ed5;
  color: #fff;
  text-align: center;
  font-size: 48px;
  padding: 5px 10px 5px 10px;
  margin-left: auto;
  margin-right: auto;
}
